/*stylesheet*/

body {
		background-color: #c0e4ff;
		color:#333333;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
}

#wrapper {
	margin: 3em auto;
	max-width: 700px;
	padding: 0 20px;
}

.article {
	background-color:#fff;
}


img {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px 0;
}

h1, p {
	margin-left: 30px;
	margin-right: 30px;
}

p {
	font-weight: 300;
	line-height: 1.6;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 900;
	margin-top: 0;

}